/* common style is start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--Primary_color);
}

:root {
    --Primary_color: #1B3936;
    --Secondary_color: #75FF69;
}

body {
    background-color: var(--Primary_color);
    background-image: url(../assets/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 1350px;
    display: block;
    margin: auto;
    border: 1px solid #76ff694b;
}

ul,
ul li {
    list-style: none;
}

.title {
    font-family: Boska_Variable !important;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: Switzer_Variable;
}

p {
    font-family: Switzer_Variable;
}


/* common style is end */


/* Header section style is start.... */
#topHeader_ID {
    background-image: url(../assets/hero_BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 1079px;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0 0;
}

.menus_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.navbar .menus_group:nth-child(1) {
    gap: 54px;
}

/* Header section style is end.... */
/* Hero section style is start.... */
.hero {
    position: relative;
    display: block;
}

.hero .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px 0 172px 0;
}

.hero_text p.title {
    font-size: 262px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.hero_text p.title:nth-child(1) {
    text-align: left !important;
    margin-left: 30%;
}

.hero_text p.title:nth-child(2) {
    text-align: right !important;
    margin-right: 16%;
    color: var(--Secondary_color);
    font-family: Boska_VariableItalic !important;
}

.hero_text p.heroTotleSmallText {
    font-size: 32px;
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-family: Boska_Variable !important;
    font-weight: 700;
}

.hero_text p.title:nth-child(4) {
    text-align: center !important;
    margin-top: -40px;
}

.hero_text {
    color: #fff;
}

.hero_text p.hero_des {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 51px;
    width: 570px;
    max-width: 90%;
}

.playIcon {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    cursor: pointer;
}

/* Hero section style is end  */

/* wrapper_box style start */
.wrapper_box{
    display: grid;
    gap: 5px;
    column-gap: 30px;
    grid-template-columns: 3fr 2fr;
}

/* wrapper_box style end */

/* welcome section style is start  */
#welcomeID {
    display: block;
    background: #fff;
    width: 100%;
    padding: 107px 0 125px 0;
}
.welcome_wrapper .welcome_wrapper_Left img.welcome_Icon{
    margin-left: -18px;

}
.welcome_wrapper .welcome_wrapper_Left p{
    width: 609px;
    font-size: 24px;
    color: var(--Primary_color);
}
.welcome_elements{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 104px;
}
.welcome_elements_item p{
    font-size: 24px;
}
.welcome_elements_item .counter{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 12px;
}
.welcome_elements_item .counter h3{
    font-size: 100px;
    line-height: 75px;
    font-family: Boska_Variable;
}
.welcome_wrapper.wrapper_box{
    align-items: center;
}

/* welcomeID style is end  */